@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Rajdhani:wght@300;400;500;600&display=swap');

* {font-family: 'Inter';font-style: normal;}
.PropertyInformation {position: relative;background: #F7F7FD;}

.PropertyInformation form h2 {margin-bottom: 12px;}
.PropertyInformation form p {margin-bottom: 32px;margin-top: 0;text-align: left;}
.PropertyInformation .Price_bond {display: grid;grid-template-columns: 1fr 1fr;grid-gap: 20px;border-bottom: none;}
.PropertyInformation .City_sec {display: grid;grid-template-columns: 1fr 1fr 1fr;grid-gap: 20px;border-bottom: none;margin-bottom: 24px;padding-bottom: 24px;}

